{% extends 'polls/base.html' %}
{% block content %}

    {% if umfrage %}
        <h1>{{ umfrage.name }}</h1>
        <form action="{% url 'vote' umfrage.slug %}" method="post">
            {% csrf_token %}
            {% for choice in umfrage.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.name }}</label><br>
            {% endfor %}
            <p><input type="submit" value="Abstimmen"></p>
        </form>
    {% else %}
        <h1>Umfrage nicht gefunden</h1>
    {% endif %}

{% endblock %}